# gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# idea
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

# neoforge
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

# custom

changelogs/
